/* import new font */

main {
    background-color: aquamarine;
    display: flex;
}

footer {
    background-color: orange;
}

#results-div {
    background-color: rgb(252, 142, 8);
    height: 50%;
    width: 40%;
    padding: 20px;
}

#img-div {
    padding: 20px;
}

img {
    max-height: 200px;
    max-width: 200px;
    /* object-fit: cover; */
    border: 2px solid black;
}

/* h2 {
    justify-content: center;
} */