/* import new font */

main {
    background-color: aquamarine;
    display: flex;
}

footer {
    background-color: orange;
}

#results-div {
    background-color: rgb(252, 142, 8);
    height: 50%;
    width: 50%;
}

img {
    max-height: 200px;
    max-width: 200px;
    /* makes images same size */
    object-fit: cover; 
}

/* #text-div {
    height: 200px;
    width: 600px;
    background-color: purple;
} */